# Project: Exploring NYC Public School Test Result Score

![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [13]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## Finding schools with the best math scores

In [14]:
# Getting al leat the 80% of the maximum possible score
best_math_result = schools[schools["average_math"] >= 640]

# Filtering the data as desired, only "school_name" and "average_math", sorted by "average_math"
best_math_schools = best_math_result[["school_name", "average_math"]].sort_values("average_math", ascending=False)

# Printing the result
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

## Top 10 performing schools based on the combined SAT scores

In [15]:
# Creating a new column total_SAT which contains the sum of the three test's reading, math and writing
schools["total_SAT"] = schools[["average_math", "average_reading", "average_writing"]].sum(axis=1)

# Creating the table of schools by top SAT
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False).head(10)

# Printing the top 10 schools by the total SAT
print(top_10_schools.head(10))

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## Single borough that has the largest standard deviation in the combined SAT score

Let's investigate by separating all the instructions first and see how each variable contains

In [16]:
# Getting the borough that has the largest standard deviation of "total_SAT" 
school_max_std = schools.groupby("borough")["total_SAT"].std()

# Getting the number of schools in the borough
schools_borough = schools["borough"].value_counts()

# The mean of "total_SAT" average_SAT
average_SAT = schools["total_SAT"].mean()

# The standard deviation of "total_SAT"
std_SAT = schools["total_SAT"].std()

# This last two can be done in one line 
std_SAT_2 = schools["total_SAT"].agg(['mean', 'std'])

Now let's put the solution into one block of code with the previous ideas

In [17]:
# Getting the borough that has the largest standard deviation of "total_SAT" 
borough_max_std = schools.groupby("borough")["total_SAT"].agg('std')

# Large std
max_std_value = borough_max_std.max()
large_std_dev_borough = borough_max_std.idxmax()

# Getting the number of schools in each borough
schools_borough = schools["borough"].value_counts()

# The mean and standard deviation of "total_SAT" for the borough with the largest std deviation
average_SAT_borough = schools[schools["borough"] == large_std_dev_borough]["total_SAT"].mean()
std_SAT_borough = schools[schools["borough"] == large_std_dev_borough]["total_SAT"].std()

# Creating a DataFrame with the required information for the borough with the largest std deviation
largest_std_dev = pd.DataFrame({
    "borough": [large_std_dev_borough],
    "num_schools": [schools_borough[large_std_dev_borough]],
    "average_SAT": [average_SAT_borough],
    "std_SAT": [max_std_value]
})

# Rounding numeric values to two decimal places
largest_std_dev = largest_std_dev.round(2)

largest_std_dev

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29